<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Album List!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Add a album</h1>
    <p>Add a album here:</p>

    <form action="/albums" method="post">
      <label for="albumName">Album name</label>
      <input id="albumName" name="albumName" type="text">
      <button type="submit">Add</button>
    </form>

    <p><a href="/">Back home</a></p>
    <p><a href="/albums">Back to albums.</a></p>
  </body>
</html>