<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My song List!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Album Details: </h1>

    <h2>@Model["song"].Description</h2>
    <h3>Album: @Model["album"].Name</h3>

    <a href='/albums/@Model["album"].Id/songs/new'>Add another song</a>
    <a href='/albums'>View all albums</a>
  </body>
</html>


