<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My order List!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Vendor Details: @Model["vendor"].Details</h1>

    <h2>Vendor: @Model["vendor"].Name</h3>
    

    <h3> @Model: ["order"].Title</h4>
    <h3> @Model: ["order"].Description</h2>
    <h4> @Model: ["order"].Price</h4>
    <h4> @Model: ["order"].Date</h4>
    
    

    <a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
    <a href='/vendors'>View all vendors</a>
  </body>
</html>


