<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Album List!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    @using Catalogue.Models;

    <h3>Here are all the songs in this album:</h3>

    <ol>
    @foreach (Song song in @Model["songs"])
    {
      <li><a href='/albums/@Model["album"].Id/songs/@song.Id'>@song.Description</a></li>
    }
    </ol>

    <p><a href='/albums/@Model["album"].Id/songs/new'>Add a new Song</a></p>
    <p><a href='/albums'>Return to album list</a></p>
    <p><a href='/'>Return to Main Page</a></p>
  </body>
</html>